@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
.navigation-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}
.logo-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-image{
    width: 100%;
}
.spna-item-logo{
    color: #FF42A5;
}
.logo-title{
    font-size: 2rem;
    font-weight: 700;
    color:#0B0223;
}
.menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-section li{
    list-style: none;
    
 
}
.menu-section a{
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 10px;
}
.icon-youtube{
    color: red;
    padding: 5px;
}
.icon-tiktok{
   padding: 5px;
}
.flow-us-ancor{
    background-color: rgb(195, 195, 195);
    border-radius: 8px;
}

/* end menu  */
.banner-section-1{
    background-image: url("../images/Group\ 14.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size:contain;
}
.banner-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}
.banner-photo{
    width: 50%;
}
.banner-image{
    width: 100%;
}
.banner-1-content ul li {
    list-style: none;
    padding: 5px;
    color: #534C64;
    font-size: 1rem;
}
.banner-1-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.banner-1-title-2{
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-circle-down,
.fa-circle-play{
    color: #F948B2;
}
.banner-1-button{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.prymary{
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: #F948B2;
    color: white;
    cursor: pointer;

}
.banner-1-button-2{
    background-color:#4EC5F7;
}

/* end banner 1  */

/* start banner 2  */

.banner-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}
.banner-2-photo{
    width: 100%;
}
.banner-2-image{
    width: 100%;
}
.banner-2-content{
    text-align: right;
    width: 100%;
}
.banner-2-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}
.banner-2-paragraph{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
}
.below-button{
    margin-top: 15px;
}
.banner-2-paragraph q{
    font-weight: 500;
}
/* end banner 2  */
/* start funny video section */
.video-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1250px;
    margin: 0 auto;
}
.video-section-content{
    text-align: center;
}

.video-section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;margin-bottom: 10px;
}
.video-section-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-section-paragraph{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.video-image-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-image-content .vide-card{
    padding: 15px;
}

.card{
    font-size: 2rem;
    margin-bottom: 10px;
}
.hover-play{
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
   
}
.vide-card-watch{
    color: white;
    text-decoration: none;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    height: auto;
    transition: filter 0.3s ease;
    width: 100%;
   margin-bottom: 15px;
  }
  
  .image-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover img {
    filter: brightness(50%);
  }
  
  .image-container:hover .play-button {
    opacity: 1;
  }

  /* end video caed  */

  .poster-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    gap: 120px;
    margin-top: 50px;
    padding: 20px;
  }
  .poster-1-photo{
    position: relative;
    width: 50%;
  }
  .big-image{
    width: 100%;
  }
  .small-image{
    position:absolute;
    bottom:-10%;
    left: -10%;
    width: 50%;
  }
  .small-photo{
    width: 100%;
  }
  .poster-1-content{
    text-align: right;
    width: 70%;
    margin: auto;
  }
  

/* end poster 1  */

.play-online{
    flex-direction: row-reverse;
}
.play-online-content{
    text-align:left;
}
.on-small-image{
    position:absolute;
    bottom:-10%;
    left: 70%;
    width: 50%;
}
/* end  */
.careers-section-1{
    background-color: #F948B2;
}
.spa-paragraph{
    display: flex;
    justify-content: space-between;
}
.country{
    text-align: right;
}
.careers-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    /* gap: 120px; */
    margin-top: 50px;
    padding:50px 15px;

}
.careers-photo{
   width: 100%;
}
.careers-image{
    width: 100%;
}
.careers-content{
    color: white;
  width: 100%;
    margin: auto;
}
.careers-button{
    background-color: white;
    color: #F948B2;
}
.Careers-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.careers-paragraph{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    }

.spa-paragraph{
    margin-bottom: 15px;
}    

.spa-paragraph .path-1  p{
    padding: 10px 0px;
}
.spa-paragraph .country  p{
    padding: 10px 0px;
}